.bg_red {
	background: red;
}

.bg_green {
	background: green;
}

.bg_yellow {
	background: yellow;
}

.bg_gray {
	background: gray;
}

.bg_aqua {
	background: aqua;
}

.bg_black {
	background: black;
}

.bg_blue {
	background: blue;
}

.bg_fuchsia {
	background: fuchsia;
}

.bg_lime {
	background: lime;
}

.bg_maroon {
	background: maroon;
}

.bg_navy {
	background: navy;
}

.bg_olive {
	background: olive;
}

.bg_orange {
	background: orange;
}

.bg_purple {
	background: purple;
}

.bg_silver {
	background: silver;
}

.bg_white {
	background: white;
}

.bg_brown {
	background: brown;
}

.bg_coral {
	background: coral;
}

.bg_gold {
	background: gold;
}

.bg_lavender {
	background: lavender;
}

.bg_pink {
	background: pink;
}