.red {
	color: red;
}

.green {
	color: green;
}

.yellow {
	color: yellow;
}

.gray {
	color: gray;
}

.aqua {
	color: aqua;
}

.black {
	color: black;
}

.blue {
	color: blue;
}

.fuchsia {
	color: fuchsia;
}

.lime {
	color: lime;
}

.maroon {
	color: maroon;
}

.navy {
	color: navy;
}

.olive {
	color: olive;
}

.orange {
	color: orange;
}

.purple {
	color: purple;
}

.silver {
	color: silver;
}

.white {
	color: white;
}

.brown {
	color: brown;
}

.coral {
	color: coral;
}

.gold {
	color: gold;
}

.lavender {
	color: lavender;
}

.pink {
	color: pink;
}